body {
  padding: 1rem;
}

.knob {
  border: 1px solid #888;
  background-color: black;
  border-radius: 10px;
  padding: 0.1rem;
  display: inline-block;
  min-width: 2.2rem;
  text-align: center;
  user-select: none;
  font-size: 90%;
  font-weight: bold;
}
.knob:hover {
  border: 1px solid white;
}
.envelopeEditor .envParamLabel {
  min-width: 3rem;
}


.lfoWaveRadio .mantine-RadioCard-card {
  background-color: black;
}
.lfoWaveRadio .mantine-RadioCard-card[data-checked="true"] {
  border: 1px solid var(--mantine-primary-color-filled);
  color: white;
}
